<!DOCTYPE html>
<html>
<head>
<title>Board Game Review Rating</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
body {
    background-color: #00BFFF;
}
.content {
  border: blue;
  height: 800px; 
}
</style>
<body>
<h1 style="font-size:60px; color:Blue; background-color:SlateBlue;"><center>Board Game Rating Prediction</center></h1>
<div class="content">
 <form action="/" method='POST' >
    <center>
    <label style="font-size:25px;">Enter review here:</label><br><br>
    <textarea name="review" rows="10" cols="50" style="border:2px solid Violet;"></textarea>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Predict" style="font-size:35px;"> 
    </center>
  </form>

  <center><h4><p id="rating">Rating =  {{result}}</p></h4>
<a href="https://github.com/steeven1001759481/ratingpredictor" style="font-size:35px;"> Github Code </a><br>
<a href="https://www.youtube.com/watch?v=NtPtIP394v4" style="font-size:35px;"> Video Demo </a>
</center>
</div>    
</body>
</html>